/* .border {
    border: 2px solid red;
    margin: 3px;
} */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.algnitem-center {
    align-items: center;
}

.bgblack{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);

}

.bggrey {
    background-color: #121212;
}

.rounded{
    border-radius: 8px;
}

.m-1{
    margin: 5px;
}
.p-1{

    padding: 10px;
}

/* Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #535353 #121212;
}